{% extends "base.html" %}
{% block content %}
<div class="mt-4">
    <h2>Confusion Matrix</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Predicted No Threat</th>
                    <th>Predicted Threat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Actual No Threat</td>
                    <!-- Accessing the data dictionary passed from the backend to display the confusion matrix values -->
                    <td>{{ data['Predicted No Threat']['Actual No Threat'] }}</td>
                    <td>{{ data['Predicted Threat']['Actual No Threat'] }}</td>
                </tr>
                <tr>
                    <td>Actual Threat</td>
                    <td>{{ data['Predicted No Threat']['Actual Threat'] }}</td>
                    <td>{{ data['Predicted Threat']['Actual Threat'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
